<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="./static/img/favicon.png">
<link rel="stylesheet" href="./static/css/libs/datatables/1.12.1/jquery.dataTables.{{mode}}.css">
<link rel="stylesheet" href="./static/css/libs/minty/bootstrap.css">
<html>

<head>
  <title>附件-每日食谱[{{username}}]</title>
</head>
<body>
  <div>
    <div id="root-navbar"></div>
    <script src="./static/js/history-attachments.js"></script>
    <div style="margin-top:3.5em">
      <table id="table_id" class="display">
        <thead>
            <tr>
                <th>日期</th>
                <th>文件名</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <script src="./static/js/history-attachments.js"></script>
  </div>
</body>
</html>