<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="./static/favicon/favicon.png">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/w3-colors-2017.css">
<link rel="stylesheet" href="./static/css/w3-colors-highway.css">
<link rel="stylesheet" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/history.css">
<link rel="stylesheet" href="./static/css/history-selfies.css">
<script src="{{external_script_dir}}/monitor.js"></script>
<script src="{{external_script_dir}}/jquery-3.5.1.min.js"></script>
<html>
<head>
  <title>每日食谱-健康笔记历史记录[{{username}}]</title>
</head>
<body>
  <div id="root"></div>
  <script src="{{app_address}}/static/history-selfies.js"></script>
</body>
</html>