<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="./static/img/favicon.png">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/w3-colors-2017.css">
<link rel="stylesheet" href="./static/css/w3-colors-highway.css">
<link rel="stylesheet" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/history.css">
<link rel="stylesheet" href="./static/css/history-selfies.css">
<link rel="stylesheet" href="./static/css/libs/minty/bootstrap.css">
<script src="{{external_script_dir}}/monitor.js"></script>
<html>
<head>
  <title>自拍-每日食谱[{{username}}]</title>
</head>
<body>
  <div id="root"></div>
  <script src="./static/js/history-selfies.js"></script>
</body>
</html>