<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="//monitor.sz.lan/meal_planner/static/favicon.png">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<link rel="stylesheet" href="https://monitor.sz.lan/meal-planner/static/index.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-2017.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-highway.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/font-awesome.min.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="https://monitor.sz.lan/resources/diff_match_patch.js"></script>
<script src="//monitor.sz.lan/resources/jquery-3.5.1.min.js"></script>
<script src="//monitor.sz.lan/resources/react@16.14.0/umd/react.production.min.js"></script>
<script src="//monitor.sz.lan/resources/react@16.14.0/umd/react-dom.production.min.js"></script>
<script src="//monitor.sz.lan/resources/babel-standalone@6.15.0/babel.min.js"></script>
<script src="//monitor.sz.lan/resources/axios@0.21.1/dist/axios.min.js"></script>
<script src="https://monitor.sz.lan/meal-planner/static/attachment.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/common.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/history.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/reminder.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/blacklist.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/index-mealplans.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/index-notes.js" type="text/jsx"></script>
<script src="https://monitor.sz.lan/meal-planner/static/index.js" type="text/jsx"></script>


<html>
<head>
<title>每日食谱[{{username}}]</title>
</head>
<body>
<div class="w3-container w3-responsive" style="max-width: 50em; padding:0.75rem; display: block; margin-left: auto; margin-right: auto;">
  <div class="w3-container w3-green">
    <h3>
      每日食谱<span class="w3-right" style="margin-bottom:1rem;font-size:0.65em;">[{{username}}], <a href="#" onclick="logout();">退出</a></span>
    </h3>
  </div>  
  <div id="root"></div>
</div>
<script>

function logout() {
  logUserActivity('[meal-planner/index] logout', '{{username}}');
  window.location.replace('../meal_planner/logout/');
}

</script>
</body>
</html>