<!DOCTYPE html>
<link rel="shortcut icon" href="//monitor.sz.lan/meal_planner/static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<link rel="stylesheet" href="https://monitor.sz.lan/meal-planner/static/index.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-2017.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3-colors-highway.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/font-awesome.min.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="//monitor.sz.lan/resources/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://monitor.sz.lan/meal-planner/static/index.js" type="text/jsx"></script>
<html>
<head>
<style>
.fixed-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4CAF50;
   color: white;
   text-align: center;
}
</style>
<title>每日食谱[{{username}}]</title>
</head>
<body>
<div class="w3-container w3-responsive" style="max-width: 50em; padding:0.75rem; display: block; margin-left: auto; margin-right: auto;">
  <div class="w3-container w3-green">
    <h3>
      每日食谱<span class="w3-right" style="margin-bottom:1rem;font-size:0.65em;">[{{username}}], <a href="#" onclick="logout();">退出</a></span>
    </h3>
  </div> 
  <button onclick="window.open('./plans-history/');" class="w3-button w3-block w3-left-align w3-green" style="margin-top:0.35em;">查询历史食谱...</button>
  <div id="root"></div>
  <button onclick="accordionHandler('notes')" class="w3-button w3-block w3-left-align w3-green" style="margin-top:0.35em;">
  饮食健康笔记
  <span id="small-triangle-notes" class="w3-right"> ▾ </span>
  </button>
  <div id="accordion-notes" class="w3-hide w3-container w3-card-4">
    <div class="w3-container">
      <div style="padding-top:8px;margin-top:1em;">
        <textarea id="notes-content" rows="18" name="content" form="form-notes" style="width:100%;">{{notes}}</textarea>
      </div>
      <input id="notes-submission" class="w3-button w3-border w3-highway-green w3-right w3-margin-bottom"
             style="margin-top:0.35em" type="submit" 
             onclick="logUserActivity('[meal-planner/index] submit new notes', '{{username}}');" value="提交">
      <input onclick="window.open('./notes-history/');" type="button" 
             class="w3-button w3-border w3-highway-green w3-right w3-margin-bottom"
             style="margin-top:0.35em;" value="查询历史笔记">
    </div>  
  </div>
  <button onclick="accordionHandler('blacklist')" class="w3-button w3-block w3-left-align w3-green" style="margin-top:0.35em;">
  黑名单
  <span id="small-triangle-blacklist" class="w3-right"> ▾ 
    </span>
  </button>
  <div id="accordion-blacklist" class="w3-hide w3-container w3-card-4">
    <div class="w3-container">
      <form action="https://monitor.sz.lan/meal_planner/" method="post" style="padding:8px; margin-top:0.5em;" id="form-blacklist">
        <span style="color:#ff0000;"><!--pure-red--><b>避免</b>食用</span>
        <textarea rows="10" name="banned_items" form="form-blacklist" style="width:100%;">{{banned_items}}</textarea>
        <span style="color:#f2552c;"><!--w3-2017-flame--><b>谨慎</b>食用</span>
        <textarea rows="7" name="limited_items" form="form-blacklist" style="width:100%;">{{limited_items}}</textarea>
        <input class="w3-button w3-border w3-highway-green w3-right w3-margin-bottom" style="margin-top: 0.85rem" type="submit" 
               onclick="logUserActivity('[meal-planner/index] submit new blacklist items', '{{username}}');" value="提交">
      </form>      
    </div>  
  </div>
  <div style="margin-bottom:5em;"></div>
  <div id="msg-box" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-top">
      <header class="w3-container w3-green"> 
        <h4>每日一提醒</h4>
      </header>
      <div class="w3-container">
        <p id="msg-body" style="font-size:large;"></p>
        <p id="msg-body-statistics" style="font-size:large; text-align:center"></p>
        <p>
          <button id="button-okay" onclick="closeDailyReminder();" class="w3-right w3-button w3-green" disabled>
            确定(<span id="count"></span>)
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
window.onload = function() {
  logUserActivity('[meal-planner/index] load', '{{username}}');
  
  $.get('https://monitor.sz.lan/meal_planner/straight_a/',  // url
      function (statistics, textStatus, jqXHR) {  // success callback
        showDailyReminder(statistics);
//          alert('status: ' + textStatus + ', data:' + data);
    });
  $('input[name=text], textarea').each(
    function(){  
      textAreaAdjust($(this)[0]);
    }
  );
};

window.onunload = function() { logUserActivity('[meal-planner/index] unload', '{{username}}'); };
  
$("#notes-submission").click(function(){
  $.post("./update-notes/",
  {
    content: $("#notes-content").val()
  }).done(
    function(response){
       alert(response);
       textAreaAdjust(document.getElementById("notes-content"));
     }
   ).fail(
    function(jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseText);
     });
});
 
function textAreaAdjust(element) {
  /* this function can only be applied to onkeyup() event
     of textareas whose is expected to be not too high,
     otherwise a smartphone's keyboard could block
     the control.
  */
  element.style.height = "1px";
  element.style.height = (1 + element.scrollHeight)+"px";
}

function logout() {
  logUserActivity('[meal-planner/index] logout', '{{username}}');
  window.location.replace('../meal_planner/logout/');
}

function closeDailyReminder() {
  document.getElementById('msg-box').style.display='none';
  logUserActivity('[meal-planner/index] daily reminder closed', '{{username}}');
}

function showDailyReminder(statistics) {

  if (Math.random() <= 0.005) {
    document.getElementById('msg-box').style.display='block';
  } else {
    document.getElementById('msg-box').style.display='none';
    return
  }

  var spn = document.getElementById("count");
  var btn = document.getElementById("button-okay");
  
  var count = 5;
  var timer = null;  // For referencing the timer
  
  var remindersList = [
    '修改前想一想：一定要今天改吗？明天改会不会更好？',
    '体重下降是警告你要<b>减慢</b>增加，而不是<b>加快</b>增加。',
    '制定<b>死板</b>的规矩并且<b>严格</b>遵守是唯一的出路。',
    '事实已经反复说明，任何形式的灵活都会导致失败。',
    '反思一下，连续几天A了？是不是又要接近出事了？',
    '<br>一分灵活，一分失败<br>一分死板，一分成功。',
    '即使昨天肠胃很舒服，也可以等明天再加，对不对？！',
    '饿的时候，想想<b>拉肚子</b>的时候。',
    '连续几天A了？会不会，又开始着急了？',
    '不要心急。',
    '和自己的肠胃功能相比，这两天吃的东西会不会已经很多了？',
    '别老想着加加加，能<b>维持现状</b>就不错了。',
    '先定小目标，争取每30天才一个A-或者B吧？！',
    '选A的时候要想想：是A还是A-？',
    '不要买额外的东西可以从源头上杜绝吃额外的东西。',
    '食谱要准确，不然就是<b>自欺欺人</b>。',
    '回想一下，上次拉肚子是什么时候，原因是什么？',
    '最好可以默默朗读每日一提醒的内容',
    '不要忘记昨天晚上的反馈，有时候可能会漏掉',
    '体重是成功与否的唯一标准，其他所有主观感觉都是幻觉',
    '成功100天，失败1天，之前的成功<b>全部归零</b>',
    '不要偷吃。一颗坚果，也要先记录，才能吃。',
    '定期翻看一下备忘和黑名单。对于过期的内容，要及时删除。',
    '哪里有<b>灵活</b>，哪里就有<b>失败</b>',
    '修改食谱要提前进行，不可把食物从冰箱里拿出来了才想到改。'];
  reminderID = Math.floor(Math.random() * remindersList.length);
  document.getElementById("msg-body").innerHTML = remindersList[reminderID];
  $('#msg-body-statistics').html(statistics);
  logUserActivity('[meal-planner/index] daily reminder [' + remindersList[reminderID] + '] shown', '{{username}}');
  
  (function countDown(){
    // Display counter and start counting down
    spn.textContent = count;
    
    // Run the function again every second if the count is not zero
    if(count !== 0){
      timer = setTimeout(countDown, 1000);
      count--; // decrease the timer
    } else {
      // Enable the button
      btn.removeAttribute("disabled");
    }
  }());
}

function accordionHandler(id) {
  var x = document.getElementById('accordion-' + id.toString());
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    document.getElementById('small-triangle-' + id.toString()).innerHTML = '▴';
    logUserActivity('[meal-planner/index] accordion ' + id.toString() + ' shown', '{{username}}');
  } else { 
    x.className = x.className.replace(" w3-show", "");
    document.getElementById('small-triangle-' + id.toString()).innerHTML = '▾';
    logUserActivity('[meal-planner/index] accordion ' + id.toString() + ' hidden', '{{username}}');
  }  
  $('input[name=text], textarea').each(
    function(){  
      textAreaAdjust($(this)[0]);
    }
  );
}

function copyMealPlanOfToday() {
  for (i = 0; i < {{meal_plan_items|length}}; i++) {
    document.getElementById('textarea-2' + i.toString()).value = document.getElementById('textarea-1' + i.toString()).value;
  }
  document.getElementById('textarea-daily-remarks-2').value = document.getElementById('textarea-daily-remarks-1').value;
  logUserActivity('[meal-planner/index] copy today\'s meal plan', '{{username}}');
}
</script>



</body>
</html>