<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/favicon.png">
<link rel="stylesheet" href="{{external_script_dir}}/w3.css">
<link rel="stylesheet" href="{{app_address}}/static/index.css">
<link rel="stylesheet" href="{{external_script_dir}}/w3-colors-2017.css">
<link rel="stylesheet" href="{{external_script_dir}}/w3-colors-highway.css">
<link rel="stylesheet" href="{{external_script_dir}}/font-awesome.min.css">
<script src="{{external_script_dir}}/monitor.js"></script>
<script src="{{app_address}}/static/libs/diff-match-patch/1.0.5/index.{{mode}}.js"></script>
<script src="{{external_script_dir}}/jquery-3.5.1.min.js"></script>
<script src="{{app_address}}/static/libs/react/18.2.0/umd/react.{{mode}}.js"></script>
<script src="{{app_address}}/static/libs/react-dom/18.2.0/umd/react-dom.{{mode}}.js"></script>
<script src="{{app_address}}/static/libs/babel-standalone/6.26.0/babel.{{mode}}.js"></script>
<script src="{{app_address}}/static/libs/axios/0.27.2/axios.{{mode}}.js"></script>
<script src="{{app_address}}/static/attachment.js" type="text/jsx"></script>
<script src="{{app_address}}/static/common.js" type="text/jsx"></script>
<script src="{{app_address}}/static/history.js" type="text/jsx"></script>
<script src="{{app_address}}/static/reminder.js" type="text/jsx"></script>
<script src="{{app_address}}/static/blacklist.js" type="text/jsx"></script>
<script src="{{app_address}}/static/index-mealplans.js" type="text/jsx"></script>
<script src="{{app_address}}/static/index-notes.js" type="text/jsx"></script>
<script src="{{app_address}}/static/index.js" type="text/jsx"></script>

<html>
<head>
  <title>每日食谱[{{username}}]</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>